alias c="clear"
alias e="micro"

alias ls="lsd"
alias cat="bat"

alias lgit="lazygit"

# task file
{{- if eq .chezmoi.os "linux" }}
alias task="go-task"
alias tg="go-task --global"
{{- else if eq .chezmoi.os "darwin" }}
alias tg="task --global"
{{- end }}

# clipboard utils
{{- if eq .chezmoi.os "linux" }}
alias cb-copy="wl-copy"
alias cb-paste="wl-paste"
{{- else if eq .chezmoi.os "darwin" }}
alias cb-copy="pbcopy"
alias cb-paste="pbpaste"
{{- end }}

# python
alias pip="pipx"

# k8s
alias cri="crictl"
alias nc="nerdctl"
alias etl="etcdctl"

alias kc="kubectl"
alias -g dn="config set-context --current --namespace"
alias -g dry-yaml="--dry-run=client -o yaml"

alias kb="kubebuilder"
alias mk="minikube"
alias tf="terraform"

{{ if eq .chezmoi.os "darwin" }}
alias sw="switch"
INSTALLATION_PATH=$(brew --prefix switch) && source $INSTALLATION_PATH/switch.sh
{{- end }}

{{ if eq .chezmoi.os "linux" }}
# audio
alias cava="TERM=st-256color cava"
alias ncp="ncmpcpp"

alias say="cowsay"

function code() {
  (flatpak run com.visualstudio.code $*)
}

alias dl="noglob yt-dlp"
{{- end }}
