{{- if eq .chezmoi.os "darwin" }}
source <(kubectl completion zsh)
source <(oc completion zsh)
source <(kubebuilder completion zsh)
{{- end }}

# asdf completions
fpath=(${ASDF_DIR}/completions $fpath)

autoload -U compinit
compinit -i
