# activate asdf version manager
source ~/.config/asdf/asdf.sh

{{- if eq .chezmoi.os "linux" }}
# shell history with C-r
eval "$(atuin init zsh --disable-up-arrow)"
{{- end }}

# thefuck corrections
# eval $(thefuck --alias)

# fzf theme: catppuccin mocha (transparent)
# https://github.com/catppuccin/fzf
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#b4befe,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8 \
--color=selected-bg:#45475a \
--multi"
