#! /bin/sh

# explicitly enable asdf for first install
source ~/.config/asdf/asdf.sh

declare -a plugins=(
    "python"
    "golang"

    "pipx"

    "golangci-lint"

{{- if eq .chezmoi.os "linux" }}
    "ruby"
    "rust"
    "lua"
    "haskell"

    "gallery-dl"
{{- end }}

    "terraform"

    "helm"
    "kustomize"

    "etcd"
    "kubectl"
    "crictl"
    "nerdctl"

    "kubebuilder"
    "kubeseal"
    "minikube"

    "chezmoi"
    "lazygit"
)

for plugin in "${plugins[@]}"; do
    asdf plugin add $plugin
    asdf install $plugin latest
    asdf global $plugin latest
done
