#!/usr/bin/env sh

set -eufo pipefail

echo " configuring asdf"

# explicitly enable asdf for first install
source ~/.config/asdf/asdf.sh

# at most weekly update: {{ output "date" "+'%U'" }}
declare -a plugins=(
    golang

{{- if eq .chezmoi.os "linux" }}
    # ruby
    # haskell

    gallery-dl
{{- end }}

    helm
    kustomize

    kubectl
    kubebuilder
    kubeseal
    minikube

    chezmoi
    lazygit
)

for plugin in "${plugins[@]}"; do
    asdf plugin add $plugin
    asdf install $plugin latest
    asdf global $plugin latest
done

{{- if eq .chezmoi.os "linux" }}
# go-task --global asdf-prune  # FIXME
{{- end }}
