#! /bin/zsh

if [[ $0 != *zsh ]]; then
    chsh -s /bin/zsh
fi

if [ -d "$HOME/.zprezto" ]; then
    exit 0  # prezto is already installed
fi

# clone preto repository
git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"

# link prezto files
setopt EXTENDED_GLOB
for rcfile in "${ZDOTDIR:-$HOME}"/.zprezto/runcoms/^README.md(.N); do
  ln -s "$rcfile" "${ZDOTDIR:-$HOME}/.${rcfile:t}"
done
