#! /bin/sh

# explicitly enable asdf for first install
source ~/.config/asdf/asdf.sh

declare -a plugins=(
    "python"
    "golang"

{{- if eq .chezmoi.os "linux" }}
    "ruby"
    "rust"
    "lua"
{{- end }}

    "etcd"
    "terraform"

    "helm"
    "kustomize"

    "kubectl"
    "crictl"
    "nerdctl"

    "kubebuilder"
    "minikube"

    "chezmoi"
    "lazygit"
)

function asdf_plugin_add {
    asdf plugin add $1
    exit_code=$?

    if [ $exit_code == 2 ]; then
        return 0  # plugin is already installed
    fi

    return $exit_code
}

for plugin in "${plugins[@]}"; do
    asdf_plugin_add $plugin
    asdf install $plugin latest
    asdf global $plugin latest
done
