########################
# repositories
########################

[".config/asdf"]
  type = "git-repo"
  url = "https://github.com/asdf-vm/asdf.git"
  [".config/asdf".clone]  # clone latest tag
    args = ["--branch", "{{ output "sh" "-c" "git ls-remote --tags --refs --sort v:refname https://github.com/asdf-vm/asdf.git | tail --lines 1 | awk '{print $2}' | cut -d / -f 3" | trim }}"]
  [".config/asdf".pull]  # updates are handled by topgrade
    args = ["--dry-run"]

[".config/zsh/.zprezto"]
  type = "git-repo"
  url = "https://github.com/sorin-ionescu/prezto.git"
  [".config/zsh/.zprezto".clone]
    args = ["--recursive"]

[".config/tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm"

########################
# fonts
########################

[".local/share/fonts/ttf/JetBrainsMonoNLNerdFont"]
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ output "sh" "-c" "git ls-remote --tags --refs --sort v:refname https://github.com/ryanoasis/nerd-fonts.git | tail --lines 1 | awk '{print $2}' | cut -d / -f 3" | trim }}/JetBrainsMono.zip"
  extract = true
  include = ["JetBrainsMonoNLNerdFont*.ttf"]
  refreshPeriod = "720h"

[".local/share/fonts/ttf/Scientifica"]
  type = "archive"
  url = "https://github.com/nerdypepper/scientifica/releases/download/{{ output "sh" "-c" "git ls-remote --tags --refs --sort v:refname https://github.com/nerdypepper/scientifica.git | tail --lines 1 | awk '{print $2}' | cut -d / -f 3" | trim }}/scientifica.tar"
  extract = true
  stripComponents = 2
  include = ["scientifica/ttf/*.ttf"]
  refreshPeriod = "720h"
