export EDITOR="micro"

# XDG specifications
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

# cargo
export CARGO_HOME="$HOME/.cargo"
export PATH="$CARGO_HOME/bin:$PATH"

# python
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# golang


# k8s
export MINIKUBE_IN_STYLE=false

{{- if ne .chezmoi.os "linux" }}
# cowsay
export COWPATH="$HOME/.config/asciiart"
{{- end }}
