#######################################
# prezto and powerlevel10k
#######################################

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# source prezto
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# p10k configuration. To customize run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

{{- if eq .chezmoi.os "darwin" }}
#######################################
# autocompletions
#######################################

# k8s
[[ /usr/local/bin/kubectl ]] && source <(kubectl completion zsh)

# oc
source <(oc completion zsh)

# kubebuilder
source <(kubebuilder completion zsh)
{{- end }}

#######################################
# utils
#######################################

# thefuck corrections
eval $(thefuck --alias)

#######################################
# python
#######################################

# eval "$(pyenv init --path)"
# eval "$(pyenv init -)"
# eval "$(pyenv virtualenv-init -)"

#######################################
# lf file manager
#######################################

_zlf() {
    emulate -L zsh
    local d=$(mktemp -d) || return 1
    {
        mkfifo -m 600 $d/fifo || return 1
        tmux split -bf zsh -c "exec {ZLE_FIFO}>$d/fifo; export ZLE_FIFO; exec lf" || return 1
        local fd
        exec {fd}<$d/fifo
        zle -Fw $fd _zlf_handler
    } always {
        rm -rf $d
    }
}
zle -N _zlf
bindkey '\ek' _zlf

_zlf_handler() {
    emulate -L zsh
    local line
    if ! read -r line <&$1; then
        zle -F $1
        exec {1}<&-
        return 1
    fi
    eval $line
    zle -R
}
zle -N _zlf_handler

#######################################
# aliases
#######################################

alias c="clear"
alias e="micro"

alias ls="lsd"
alias cat="bat"

alias lgit="lazygit"
alias tf="fuck"

{{- if eq .chezmoi.os "darwin" }}
# k8s
alias cri="crictl"
alias etc="etcdctl"
alias kc="kubectl"

alias kb="kubebuilder"
alias mk="minikube"
alias sw="switch"
INSTALLATION_PATH=$(brew --prefix switch) && source $INSTALLATION_PATH/switch.sh
{{- end }}

{{- if eq .chezmoi.os "linux" }}
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"

function code() {
  (flatpak run com.vscodium.codium $*)
}

# youtube-dl
alias ytdl="noglob youtube-dl"
alias -g audio="-i --extract-audio --audio-format mp3 --audio-quality 0"
alias -g audio-playlist="-ic -o \"%(title)s-%(id)s.%(ext)s\" --yes-playlist --extract-audio --audio-format mp3 --audio-quality 0"
{{- end }}
