[user]
    name = {{ .data.username }}
    email = {{ .data.email }}

[core]
    editor = micro
    pager = delta
    ignorecase = false
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = master

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[interactive]
    diffFilter = delta --color-only

[delta]
    true-color = always
    theme = Nord
    light = false
    navigate = true
    line-numbers = true

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto

{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
{{- else if eq .chezmoi.os "darwin" }}
[credentials]
    helper = osxkeychain
{{- end }}

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
