#######################################
# prezto and powerlevel10k
#######################################

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# source prezto
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# p10k configuration. To customize run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

{{- if eq .chezmoi.os "darwin" }}
#######################################
# autocompletions
#######################################

# k8s
[[ /usr/local/bin/kubectl ]] && source <(kubectl completion zsh)

# oc
source <(oc completion zsh)

# kubebuilder
source <(kubebuilder completion zsh)
{{- end }}

#######################################
# utils
#######################################

# thefuck corrections
eval $(thefuck --alias)

#######################################
# python
#######################################

# eval "$(pyenv init --path)"
# eval "$(pyenv init -)"
# eval "$(pyenv virtualenv-init -)"

#######################################
# aliases
#######################################

alias c="clear"
alias e="micro"

alias ls="lsd"
alias cat="bat"

alias lgit="lazygit"
alias tf="fuck"

{{- if eq .chezmoi.os "darwin" }}
# k8s
alias cri="crictl"
alias etc="etcdctl"
alias kc="kubectl"

alias kb="kubebuilder"
alias mk="minikube"
alias sw="switch"
INSTALLATION_PATH=$(brew --prefix switch) && source $INSTALLATION_PATH/switch.sh
{{- end }}

{{- if eq .chezmoi.os "linux" }}
function code() {
  (flatpak run com.vscodium.codium $*)
}

# youtube-dl
alias ytdl="noglob youtube-dl"
alias -g audio="-i --extract-audio --audio-format mp3 --audio-quality 0"
alias -g audio-playlist="-ic -o "%(title)s-%(id)s.%(ext)s" --yes-playlist --extract-audio --audio-format mp3 --audio-quality 0"
{{- end }}
