#!/bin/sh

{{- if eq .chezmoi.os "linux" }}

#########################################
# core linux update
#########################################

dnf update

#########################################
# essential and restricted packages
#########################################

# certificates
dnf install ca-certificates gnupg lsb-release

# downloaders
dnf install wget curl

# build essentials
dnf install build-essential dkms

# archivers
dnf install rar unrar zip unzip

# laptop power management tool
dnf install tlp

#########################################
# setup development environment
#########################################

# compilers
dnf install make cmake clang gcc golang rust

# python
dnf install python3 python3-pip pipenv pyenv python-is-python3

# version control
dnf install git

# docker kubectl minikube helm
dnf install docker

# ansible
dnf install ansible

# java runtime
dnf install default-jdk openjdk-17-jdk

#########################################
# terminal tools
#########################################

dnf install neofetch

dnf install micro neovim

dnf install ranger

# setup tmux
dnf install tmux
git clone https://github.com/tmux-plugins/tpm ~/.config/.tmux/plugins/tpm

dnf install thefuck

# resource monitor
dnf install glances

#########################################
# utils
#########################################

# TODO move to conda base
python3 -m pip install --upgrade youtube-dl
dnf install ffmpeg

cargo install topgrade

dnf install rsync

#########################################
# desktop
#########################################

dnf install polybar
# executable permisions to launch.sh chmod +x ~/.config/polybar/launch.sh

dnf install rofi

{{- end }}
