version: "3"

tasks:
  venv:
    dir: {{"\"{{.USER_WORKING_DIR}}\""}}
    cmds:
      - python -m venv venv

  svenv:
    dir: {{"\"{{.USER_WORKING_DIR}}\""}}
    cmds:
      - source ./venv/bin/activate

{{- if eq .chezmoi.os "linux" }}
  dupes:
    dir: {{"\"{{.USER_WORKING_DIR}}\""}}
    cmds:
      - fdupes -r .

  audio-meta:
    dir: {{"\"{{.USER_WORKING_DIR}}\""}}
    cmds:
      - beet import .
{{ end }}
