[InstallCF146F38BCAB2D21]
Default={{ joinPath .chezmoi.homeDir "/.var/app/org.mozilla.firefox/.mozilla/firefox/primary" }}
Locked=1

[Profile0]
Name=primary
IsRelative=0
Path={{ joinPath .chezmoi.homeDir "/.var/app/org.mozilla.firefox/.mozilla/firefox/primary" }}

[General]
StartWithLastProfile=1
Version=2

