#!/usr/bin/env sh

{{- if ne .chezmoi.os "darwin" }}
exit 0
{{- end }}

set -eufo pipefail

echo " configuring homebrew"

# install homebrew
which -s brew
if [[ $? != 0 ]]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Brewfile hash: {{ includeTemplate "Brewfile" | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.sourceDir ".chezmoitemplates/Brewfile" }}
