export EDITOR="micro"

# XDG specifications
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

# cargo
export CARGO_HOME="$HOME/.cargo"
export PATH="$CARGO_HOME/bin:$PATH"

# golang


# k8s
export MINIKUBE_IN_STYLE=false
export PATH="$HOME/.rd/bin:$PATH"

{{- if eq .chezmoi.os "linux" }}
# cowsay
export COWPATH="$HOME/.config/asciisay"

# mpc-ncmpcpp unix socket
export MPD_HOST="$HOME/.config/mpd/socket"
{{- end }}
