#######################################
# prezto and powerlevel10k
#######################################

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# source prezto
if [[ -s "$ZDOTDIR/.zprezto/init.zsh" ]]; then
  source "$ZDOTDIR/.zprezto/init.zsh"
fi

#######################################
# source config.d
#######################################

for conf in "$ZDOTDIR"/config.d/**/*.zsh; do
  source "${conf}"
done
unset conf

{{ if eq .chezmoi.os "darwin" }}
#######################################
# autocompletions
#######################################

source <(kubectl completion zsh)
source <(oc completion zsh)
source <(kubebuilder completion zsh)

#######################################
# python
#######################################

eval "$(pyenv init --path)"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
{{- end }}

#######################################
# utils
#######################################

# thefuck corrections
eval $(thefuck --alias)

# taskfile
autoload -U compinit
compinit -i
