#! /bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

# dnf.conf hash: {{ includeTemplate "dnf.conf" | sha256sum }}
sudo cp {{ joinPath .chezmoi.sourceDir ".chezmoitemplates/dnf.conf" }} /etc/dnf/dnf.conf

# enable rpm fusion repositories
sudo dnf install -y https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
sudo dnf install -y https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

# enable copr repository
sudo dnf copr enable -y @neurofedora/neurofedora-extra
