#! /bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

# install docker
sudo dnf install -y dnf-plugins-core
sudo dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
sudo dnf install -y docker-ce docker-ce-cli containerd.io docker-compose-plugin

# enable docker
sudo systemctl enable docker --now

# allow local user to docker group
sudo groupadd docker
sudo usermod -aG docker $USER


# kubectl kubebuilder minikube helm kustomize
