#! /bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

echo "Installing dnf packages"

declare -a packages=(

    # essential and restricted packages
    "ca-certificates gnupg"  # certificates
    "wget curl"  # downloaders
    "dkms"  # build essentials
    "unrar zip unzip"  # archivers
    "tlp"  # laptop power management tool
    # "akmod-nvidia"  # FIXME drivers

    # development environment
    "clang gcc"  # compilers
    "conda"  # python
    "git gh git-delta"  # version control
    "tmux"
    "httpie"
    "ansible"

    # terminal tools
    "alacritty"
    "neofetch cowsay"
    "tldr"  # tldr manpages
    "micro neovim"  # editors
    "ranger"
    "thefuck"
    "glances"  # resource monitor
    "lsd bat ripgrep fd-find fzf"
    "jq"  # json processor
    "xclip"  # clipboard
    "make cmake go-task"
    "mpd mpc ncmpcpp beets"  # media
    "zathura zathura-plugins-all zathura-zsh-completion"  # document viewer
    "pandoc"
    "hyperfine"  # benchmark

    # utils
    "yt-dlp ffmpeg"
    "fdupes"

    # networking tools
    "rsync"
    "fping"

    # desktop
    "polybar"
    "rofi"
)

sudo dnf upgrade --refresh -y

for package in "${packages[@]}"; do
    sudo dnf install -y $package
done

# copr
sudo dnf copr enable -y atim/lazygit
sudo dnf install -y lazygit

sudo dnf copr enable -y pennbauman/ports
sudo dnf install -y lf

sudo dnf copr enable -y alastortenebris/gallery-dl
sudo dnf install -y gallery-dl
