#!/usr/bin/env sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

set -eufo pipefail

echo " configuring flatpak"

declare -a applications=(

    # development software
    io.github.shiftey.Desktop
    com.visualstudio.code
    com.jetbrains.PyCharm-Professional
    com.jetbrains.RustRover
    io.httpie.Httpie

    # communication
    org.mozilla.Thunderbird
    im.riot.Riot

    # media
    org.videolan.VLC
    fr.handbrake.ghb
    com.obsproject.Studio
    org.libreoffice.LibreOffice

    # information
    md.obsidian.Obsidian
    com.jgraph.drawio.desktop
    com.github.xournalpp.xournalpp
    com.calibre_ebook.calibre
    com.sigil_ebook.Sigil

    # network
    com.github.zocker_160.SyncThingy
    org.qbittorrent.qBittorrent
    com.protonvpn.www
    org.torproject.torbrowser-launcher

    # games
    com.mojang.Minecraft
    org.prismlauncher.PrismLauncher
    net.rpcs3.RPCS3

    # tools
    org.leocad.LeoCAD
    org.freecad.FreeCAD
    org.blender.Blender
    org.kde.krita
    org.kde.kdenlive
    org.upscayl.Upscayl
)

sudo dnf install -y flatpak
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

for application in "${applications[@]}"; do
    flatpak install -y flathub $application
done
