#!/usr/bin/env sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

set -eufo pipefail

echo " configuring dnf packages"

declare -a packages=(

    # essential and restricted packages
    ca-certificates
    wget curl
    dkms  # build essentials
    unrar zip unzip
    tlp  # laptop power management tool

    # development environment
    clang gcc
    git gh git-delta
    tmux
    httpie

    # infrastrucutre
    podman podman-compose podman-tui
    distrobox
    vagrant
    ansible ansible-collection-awx-awx

    # terminal tools
    alacritty
    neofetch cowsay
    tldr  # tldr manpages
    micro neovim
    ranger
    thefuck  # command auto correction
    glances btop  # resource monitors
    lsd bat ripgrep fd-find fzf  # file utils
    jq  # json processor
    wl-clipboard  # wayland clipboard
    make go-task
    mpd mpc ncmpcpp
    cava beets  # media
    zathura zathura-plugins-all zathura-zsh-completion  # document viewer
    pandoc  # document converter
    hyperfine  # benchmark
    lnav  # log navigator
    irssi  # chat client

    # de
    plasma-browser-integration

    # utils
    yt-dlp
    # convert  # FIXME
    ffmpeg
    fdupes
    perl-Image-ExifTool

    # networking tools
    rsync
    fping

    # rpm fusion packages
    steam-devices  # required with steam flatpak
    akmod-nvidia
)

sudo dnf upgrade --refresh -y

for package in "${packages[@]}"; do
    if ! dnf list installed $package; then
        sudo dnf install -y $package
    fi
done

# copr repositories

sudo dnf copr enable -y pennbauman/ports
sudo dnf install -y lf
