#! /bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

echo "Installing Flatpak applications"

declare -a applications=(

    # development software
    "io.github.shiftey.Desktop"
    "com.vscodium.codium"
    "com.jetbrains.PyCharm-Community"
    # virtual box

    # essentials
    "com.bitwarden.desktop"
    "org.mozilla.firefox"

    # communication
    "org.mozilla.Thunderbird"
    "com.discordapp.Discord"
    "im.riot.Riot"

    # media
    "org.videolan.VLC"
    "org.kde.krita"
    "fr.handbrake.ghb"
    "com.obsproject.Studio"
    "org.kde.kdenlive"
    "org.libreoffice.LibreOffice"

    # information
    "md.obsidian.Obsidian"
    "com.jgraph.drawio.desktop"
    "com.github.xournalpp.xournalpp"
    "com.calibre_ebook.calibre"
    "com.librumreader.librum"
    "com.sigil_ebook.Sigil"

    # network
    "com.github.zocker_160.SyncThingy"
    "org.qbittorrent.qBittorrent"
    "nz.mega.MEGAsync"
    "com.protonvpn.www"
    "com.github.micahflee.torbrowser-launcher"

    # entertainment
    "com.spotify.Client"
    "io.github.hakuneko.HakuNeko"

    # utility
    "com.usebottles.bottles"

    # games
    "com.valvesoftware.Steam"
    "com.heroicgameslauncher.hgl"
    "com.mojang.Minecraft"
    "org.prismlauncher.PrismLauncher"
    "net.rpcs3.RPCS3"

    # ai tools
    "org.upscayl.Upscayl"
)

sudo dnf install -y flatpak
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

for application in "${applications[@]}"; do
    flatpak install -y flathub $application
done
