#! /bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

echo "Installing dnf packages"

declare -a packages=(

    # essential and restricted packages
    "ca-certificates gnupg"  # certificates
    "wget curl"  # downloaders
    "dkms"  # build essentials
    "unrar zip unzip"  # archivers
    "tlp"  # laptop power management tool

    # development environment
    "clang gcc"  # compilers
    "git gh git-delta"  # version control
    "distrobox"
    "tmux"
    "httpie"
    "ansible"

    # terminal tools
    "alacritty"
    "neofetch cowsay"
    "tldr"  # tldr manpages
    "micro neovim"  # editors
    "ranger"
    "thefuck"  # command auto correction
    "glances btop"  # resource monitors
    "lsd bat ripgrep fd-find fzf"  # file utils
    "jq"  # json processor
    "wl-clipboard"  # wayland clipboard
    "make cmake go-task"
    "mpd mpc ncmpcpp cava beets"  # media
    "zathura zathura-plugins-all zathura-zsh-completion"  # document viewer
    "pandoc"
    "hyperfine"  # benchmark
    "lnav"  # log navigator
    "irssi"  # chat client

    # de
    "plasma-browser-integration"

    # utils
    "yt-dlp"
    "convert ffmpeg fdupes perl-Image-ExifTool"

    # networking tools
    "rsync"
    "fping"

    # desktop
    "polybar"
    "rofi"

    # rpm fusion packages
    "steam-devices"  # required with steam flatpak
    "akmod-nvidia"
)

sudo dnf upgrade --refresh -y

for package in "${packages[@]}"; do
    sudo dnf install -y $package
done

# copr repositories

sudo dnf copr enable -y pennbauman/ports
sudo dnf install -y lf
