#!/usr/bin/env sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

declare -a packages=(
    cargo-update
    topgrade
    onefetch
)

for package in "${packages[@]}"; do
    cargo install $package
done

# reshim is needed after installing cargo packages
# open issue - https://github.com/code-lever/asdf-rust/issues/14
asdf reshim rust
