[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][61]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][61][Applets][64]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][61][Applets][64][Configuration]
PreloadWeight=72

[Containments][61][Applets][64][Configuration][Appearance]
dateFormat=isoDate
use24hFormat=2

[Containments][61][Applets][64][Configuration][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][61][Applets][66]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][61][Applets][66][Configuration]
PreloadWeight=86

[Containments][61][Applets][66][Configuration][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][61][Applets][66][Configuration][General]
favoriteSystemActions=logout
favoritesPortedToKAstats=true
hiddenApplications=realvnc-vncviewer.desktop
showRecentApps=false
showRecentDocs=false

[Containments][61][Applets][67]
immutability=1
plugin=org.kde.plasma.pager

[Containments][61][Applets][67][Configuration]
PreloadWeight=0

[Containments][61][Applets][67][Configuration][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][61][Applets][67][Configuration][General]
showWindowIcons=true

[Containments][61][Applets][68]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][61][Applets][68][Configuration]
PreloadWeight=92
SystrayContainmentId=69

[Containments][61][Applets][80]
immutability=1
plugin=org.kde.kdeconnect

[Containments][61][Applets][80][Configuration]
PreloadWeight=0

[Containments][61][Applets][82]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][61][Applets][82][Configuration]
PreloadWeight=0

[Containments][61][Applets][84]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][61][Applets][84][Configuration]
PreloadWeight=0

[Containments][61][Applets][84][Configuration][General]
isInLatteDock=true
launchers59=applications:org.mozilla.firefox.desktop,applications:org.kde.dolphin.desktop,applications:md.obsidian.Obsidian.desktop,applications:steam.desktop,file:///latte-separator2.desktop,applications:org.kde.konsole.desktop,applications:code.desktop,file:///latte-separator1.desktop

[Containments][61][ConfigDialog]
DialogHeight=957
DialogWidth=748

[Containments][61][Configuration]
PreloadWeight=0

[Containments][61][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=66;67;84;68;80;82;64
configurationSticker=true
dragActiveWindowEnabled=true
iconSize=25
inConfigureAppletsMode=true
lengthExtMargin=10
mouseWheelActions=false
panelPosition=10
panelSize=100
panelTransparency=15
plasmaBackgroundForPopups=true
scrollAction=ScrollTasks
shadows=None
solidBackgroundForMaximized=true
splitterPosition=3
splitterPosition2=4
thickMargin=15
titleTooltips=false
zoomLevel=0

[Containments][61][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.15000000596046448
type=org.kde.latte.default

[Containments][61][Indicator][org.kde.latte.default][General]
glowOpacity=0.25
minimizedTaskColoredDifferently=true

[Containments][69]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][69][Applets][70]
immutability=1
plugin=org.kde.plasma.volume

[Containments][69][Applets][70][Configuration]
PreloadWeight=0

[Containments][69][Applets][71]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][69][Applets][71][Configuration]
PreloadWeight=84

[Containments][69][Applets][72]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][69][Applets][72][Configuration]
PreloadWeight=0

[Containments][69][Applets][74]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][69][Applets][74][Configuration]
PreloadWeight=0

[Containments][69][Applets][76]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][69][Applets][76][Configuration]
PreloadWeight=77

[Containments][69][Applets][77]
immutability=1
plugin=org.kde.plasma.battery

[Containments][69][Applets][77][Configuration]
PreloadWeight=63

[Containments][69][Applets][78]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][69][Applets][78][Configuration]
PreloadWeight=0

[Containments][69][Applets][79]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][69][Applets][79][Configuration]
PreloadWeight=0

[Containments][69][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][69][General]
extraItems=org.kde.plasma.clipboard,org.kde.plasma.keyboardindicator,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.kupapplet,org.kde.plasma.bluetooth,org.kde.plasma.battery,KOrganizer Reminder Daemon
hiddenItems=KOrganizer Reminder Daemon
knownItems=org.kde.plasma.clipboard,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.kupapplet,org.kde.plasma.bluetooth,org.kde.kdeconnect,org.kde.plasma.battery
shownItems=org.kde.plasma.battery,org.kde.plasma.clipboard

[LayoutSettings]
activities=
background=
color=lightskyblue
globalLaunchers=
lastUsedActivity=0f2e188b-4334-43ba-a79a-ca29c2980e72
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
