[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=3
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=5
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=500
timerShow=50
viewType=0
visibility=1
wallpaperplugin=org.kde.image

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=0

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:org.mozilla.firefox.desktop,applications:org.kde.dolphin.desktop,applications:md.obsidian.Obsidian.desktop,applications:code.desktop

[Containments][1][ConfigDialog]
DialogHeight=1001
DialogWidth=748

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=57
autoDecreaseIconSize=false
dragActiveWindowEnabled=true
iconMargin=0
iconSize=48
lengthExtMargin=5
maxLength=90
panelSize=100
panelTransparency=0
plasmaBackgroundForPopups=true
shadowOpacity=35
shadowSize=45
shadows=None
showGlow=false
showOnlyCurrentDesktop=true
solidBackgroundForMaximized=true
splitterPosition=2
splitterPosition2=3
thickMargin=5
titleTooltips=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
minimizedTaskColoredDifferently=true

[Containments][61]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][61][Applets][64]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][61][Applets][64][Configuration]
PreloadWeight=62

[Containments][61][Applets][64][Configuration][Appearance]
dateFormat=isoDate
use24hFormat=2

[Containments][61][Applets][64][Configuration][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][61][Applets][66]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][61][Applets][66][Configuration]
PreloadWeight=42

[Containments][61][Applets][66][Configuration][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][61][Applets][66][Configuration][General]
favoriteSystemActions=logout
favoritesPortedToKAstats=true
showRecentApps=false
showRecentDocs=false

[Containments][61][Applets][67]
immutability=1
plugin=org.kde.plasma.pager

[Containments][61][Applets][67][Configuration]
PreloadWeight=0

[Containments][61][Applets][67][Configuration][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][61][Applets][67][Configuration][General]
showWindowIcons=true

[Containments][61][Applets][68]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][61][Applets][68][Configuration]
PreloadWeight=100
SystrayContainmentId=69

[Containments][61][Applets][80]
immutability=1
plugin=org.kde.kdeconnect

[Containments][61][Applets][80][Configuration]
PreloadWeight=0

[Containments][61][Applets][82]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][61][Applets][82][Configuration]
PreloadWeight=0

[Containments][61][ConfigDialog]
DialogHeight=957
DialogWidth=748

[Containments][61][Configuration]
PreloadWeight=0

[Containments][61][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=66;67;68;80;82;64
dragActiveWindowEnabled=true
iconSize=25
inConfigureAppletsMode=true
lengthExtMargin=10
mouseWheelActions=false
panelPosition=10
panelSize=100
panelTransparency=15
plasmaBackgroundForPopups=true
shadows=None
splitterPosition=2
splitterPosition2=3
thickMargin=15
titleTooltips=false
zoomLevel=0

[Containments][61][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][69]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][69][Applets][70]
immutability=1
plugin=org.kde.plasma.volume

[Containments][69][Applets][70][Configuration]
PreloadWeight=4

[Containments][69][Applets][71]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][69][Applets][71][Configuration]
PreloadWeight=100

[Containments][69][Applets][72]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][69][Applets][72][Configuration]
PreloadWeight=0

[Containments][69][Applets][74]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][69][Applets][74][Configuration]
PreloadWeight=0

[Containments][69][Applets][76]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][69][Applets][76][Configuration]
PreloadWeight=74

[Containments][69][Applets][77]
immutability=1
plugin=org.kde.plasma.battery

[Containments][69][Applets][77][Configuration]
PreloadWeight=34

[Containments][69][Applets][78]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][69][Applets][78][Configuration]
PreloadWeight=7

[Containments][69][Applets][79]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][69][Applets][79][Configuration]
PreloadWeight=0

[Containments][69][Applets][83]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][69][Applets][83][Configuration]
PreloadWeight=0

[Containments][69][ConfigDialog]
DialogHeight=720
DialogWidth=960

[Containments][69][General]
extraItems=org.kde.plasma.clipboard,org.kde.plasma.keyboardindicator,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.kupapplet,org.kde.plasma.bluetooth,org.kde.plasma.battery,KOrganizer Reminder Daemon
hiddenItems=KOrganizer Reminder Daemon
knownItems=org.kde.plasma.clipboard,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.kupapplet,org.kde.plasma.bluetooth,org.kde.kdeconnect,org.kde.plasma.battery
shownItems=org.kde.plasma.battery,org.kde.plasma.clipboard

[LayoutSettings]
activities=
background=
color=lightskyblue
globalLaunchers=
lastUsedActivity=0f2e188b-4334-43ba-a79a-ca29c2980e72
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
