#!/bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

echo "Installing Flatpak applications"

declare -a applications=(

    # flatseal
    "com.github.tchx84.Flatseal"
    
    # development software
    "io.github.shiftey.Desktop"
    "com.vscodium.codium"
    "com.jetbrains.PyCharm-Community"
    "com.getpostman.Postman"
    # virtual box

    # essentials
    "com.bitwarden.desktop"
    "org.mozilla.firefox"

    # communication
    "flathub org.mozilla.Thunderbird"
    "com.discordapp.Discord"
    "im.riot.Riot"

    # media
    "org.videolan.VLC"
    "org.kde.krita"
    "org.audacityteam.Audacity"
    "fr.handbrake.ghb"
    "com.obsproject.Studio"
    "org.kde.kdenlive"
    "org.libreoffice.LibreOffice"

    # information
    "md.obsidian.Obsidian"
    "com.github.xournalpp.xournalpp"
    "com.calibre_ebook.calibre"
    "com.sigil_ebook.Sigil"

    # network
    "me.kozec.syncthingtk"
    # "com.github.zocker_160.SyncThingy"
    "org.qbittorrent.qBittorrent"
    "nz.mega.MEGAsync"
    # proton vpn
    "com.github.micahflee.torbrowser-launcher"

    # entertainment
    "flathub com.spotify.Client"
    "io.github.hakuneko.HakuNeko"

    # utility
    "com.usebottles.bottles"

    # games
    "com.valvesoftware.Steam"
    "com.mojang.Minecraft"
    "org.prismlauncher.PrismLauncher"
)

sudo dnf install flatpak
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

for application in "${applications[@]}"; do
    flatpak install -y flathub $application
done
