#! /bin/sh

{{- if ne .chezmoi.os "linux" }}
exit 0
{{- end }}

echo "Installing dnf packages"

declare -a packages=(

    # essential and restricted packages
    "ca-certificates gnupg"  # certificates
    "wget curl"  # downloaders
    "dkms"  # build essentials
    "unrar zip unzip"  # archivers
    "tlp"  # laptop power management tool
    # "akmod-nvidia"  # FIXME drivers

    # development environment
    "make cmake clang gcc golang rust ruby lua"  # compilers
    "python python-pip conda"  # python
    "git gh"  # version control
    "tmux"
    "ansible"

    # terminal tools
    "neofetch cowsay"
    "tldr"  # tldr manpages
    "micro neovim"  # editors
    "ranger"
    "thefuck"
    "glances"  # resource monitor
    "lsd bat ripgrep"
    "jq"  # json processor
    "xclip"  # clipboard

    # utils
    "youtube-dl ffmpeg-free"
    "rsync"

    # desktop
    "polybar"
    "rofi"
)

sudo dnf update -y

for package in "${packages[@]}"; do
    sudo dnf install -y $package
done


sudo dnf copr enable -y atim/lazygit
sudo dnf install -y lazygit

sudo dnf copr enable -y pennbauman/ports
sudo dnf install -y lf


if [ ! -d $HOME/.config/tmux/plugins/tpm ]; then
    git clone https://github.com/tmux-plugins/tpm $HOME/.config/tmux/plugins/tpm
fi

# executable permisions to launch.sh chmod +x $HOME/.config/polybar/launch.sh
