{{/* default values */}}
{{- $title := "mancave" -}}
{{- $columns := 170 -}}
{{- $size := 11 -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $title = "workstation" -}}
{{-   $columns = 150 -}}
{{-   $size = 14 -}}
{{- end -}}

{{- $primary_nerd_font := "JetBrainsMonoNL NF" -}}

window:
  title: {{ $title }}
  dimensions:
    columns: {{ $columns }}
    lines: 30
  padding:
    x: 5
    y: 5

shell:
  program: {{ output "which" "tmux" | trim }}
  args:  # create or attach a session
    - new-session
    - -A
    - -s
    - main

font:
  size: {{ $size }}
  normal:
    family: {{ $primary_nerd_font }}
    style: Regular
  bold:
    family: {{ $primary_nerd_font }}
    style: Bold
  italic:
    family: {{ $primary_nerd_font }}
    style: Italic
  bold_italic:
    family: {{ $primary_nerd_font }}
    style: Bold Italic

cursor:
  style:
    shape: Block
    blinking: Off

schemes:
  DantalianNordic: &DantalianNordic
    primary:
      background: '0x131517'
      foreground: '0xdadada'
    normal:
      black:   '0x1e1e1e'
      red:     '0xbf616a'
      green:   '0xa7b594'
      yellow:  '0xebcb8b'
      blue:    '0x81a1c1'
      magenta: '0xb48ead'
      cyan:    '0x8f9fb4'
      white:   '0xc0c0c0'
    bright:
      black:   '0x52565f'
      red:     '0xbf616a'
      green:   '0x98bf5b'
      yellow:  '0xebcb8b'
      blue:    '0x81a1c1'
      magenta: '0xb48ead'
      cyan:    '0x8f9fb4'
      white:   '0xc0c0c0'

colors: *DantalianNordic

env:
  TERM: xterm-256color

live_config_reload: true
